.notification{
    background-color: rgb(195, 212, 195);
    height: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(18, 133, 93);
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    color: rgb(29, 114, 66);
    font-size: large;
}
.error{
    background-color: rgb(214, 176, 169);
    height: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border-style: solid;
    border-color: red;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    color: rgb(174, 9, 9);
    font-size: large;
}
.button{
    margin-left: 1rem;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(167, 164, 164);
    color: azure;
}
.person_container{
    margin-bottom: 1rem;
}